<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <h5 *ngIf="idCurso === 'nuevo'" class="title">REGISTRA UN CURSO</h5>
                    <h5 *ngIf="idCurso !== 'nuevo'" class="title">EDITA LA INFORMACION DEL CURSO {{curso.nombre}}</h5>
                </div>
                <div class="card-body">
                    <form #signupForm="ngForm" (ngSubmit)="guardarCurso(forma)" #forma="ngForm">
                        <div class="form-group">
                            <label>ID del curso</label>
                            <input type="text" class="form-control" disabled="disabled" placeholder="ID del curso" [(ngModel)]="curso.idCurso" name="idCurso">
                            <small class="form-text text-muted">Este campo es autogenerado</small>
                        </div>
                        <div class="row">
                            <div class="col-md pr-1">
                                <div class="form-group">
                                    <label>Nombre del curso</label>
                                    <input type="text" name="nombre" class="form-control" [class.is-invalid]="nombre.invalid && nombre.touched" required placeholder="Ingrese el nombre del curso" [ngModel]="curso.nombre" #nombre="ngModel">
                                    <small *ngIf="nombre.invalid && nombre.touched" class="form-text  text-danger">Este campo es obligatorio</small>
                                </div>
                            </div>
                        </div>
                        <div class=" row ">
                            <div class="col-md-6 pr-1 ">
                                <div class="form-group ">
                                    <label>Categoria</label>
                                    <input type="text" name="categoria" class="form-control" [class.is-invalid]="categoria.invalid && categoria.touched" required placeholder="Ingrese la categoria del curso" [ngModel]="curso.categoria" #categoria="ngModel">
                                    <small *ngIf="categoria.invalid && categoria.touched" class="form-text  text-danger">Este campo es obligatorio</small>
                                </div>
                            </div>
                            <div class="col-md-6 pl-1 ">
                                <div class="form-group ">
                                    <label>Duración</label>
                                    <input type="number" name="duracion" class="form-control" [class.is-invalid]="duracion.invalid && duracion.touched" required placeholder="Ingrese la duracion del curso en horas" [ngModel]="curso.duracion" #duracion="ngModel">
                                    <small *ngIf="duracion.invalid && duracion.touched" class="form-text  text-danger">Este campo es obligatorio</small>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12 ">
                                <div class="form-group ">
                                    <label>Numero de profesor</label>
                                    <input type="number" name="idProfesor" class="form-control" [class.is-invalid]="idProfesor.invalid && idProfesor.touched" required maxlength="3" placeholder="Ingrese su ID de profesor" [ngModel]="curso.idProfesor" #idProfesor="ngModel">
                                    <small *ngIf="idProfesor.invalid && idProfesor.touched" class="form-text  text-danger">Este campo es obligatorio</small>
                                </div>
                            </div>
                        </div>
                        <button *ngIf="idCurso === 'nuevo'" type="submit" class="btn btn-primary">Registrar curso</button>
                        <button *ngIf="idCurso !== 'nuevo'" type="submit" class="btn btn-primary">Guarda Cambios</button>
                        <button type="button" class="btn btn-primary pull-right" onclick="window.location.href = '../cursos';">Regresar</button>
                    </form>

                </div>
            </div>
        </div>

    </div>
    <div class=" row ">
        <div class="col-md-10 ">
            <div class="image-container ">
                <img src="../assets/img/U_Learn_Logo.png " width="1000 " height="320 ">
            </div>
        </div>
    </div>
</div>

<script>
</script>