<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Inicio de sesión</h5>
                </div>
                <div class="card-body">
                    <form #signupForm="ngForm" (ngSubmit)="login(signupForm)">
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Nombre de usuario</label>
                                    <input type="text" class="form-control" placeholder="Tu nombre de usuario aquí" name="username" id="username" ngModel>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Contraseña</label>
                                    <input type="password" name="clave1" class="form-control" placeholder="Ingresa tu contraseña aquí" name="password" id="password" ngModel>
                                </div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <p class="text-info">
                                    ¿Olvidaste tu contraseña?
                                </p>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="image-container">
                <img src="../assets/img/U_Learn_Logo.png" width="1000" height="320">
            </div>
        </div>
    </div>
</div>