<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Crear Quiz</h5>
        </div>
        <div class="card-body">


          <form>
            <div class="row">
              <div class="col-md-8 pr-1">
                <div class="form-group">
                  <label>Nombre de usuario</label>
                  <input type="text" class="form-control" placeholder="Escribe la pregunta de quiz" >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-group col-md-8">

                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding: 6px 0 6px 12px !important;">Respuesta 1</span>
                </div>

                <input type="text" class="form-control" placeholder="Escribe la respuesta 1 del quiz" aria-label="answer1" aria-describedby="basic-addon1">

              </div>
            </div>

            <div class="row">
              <div class="input-group col-md-8">

                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding: 6px 0 6px 12px !important;">Respuesta 2</span>
                </div>

                <input type="text" class="form-control" placeholder="Escribe la respuesta 2 del quiz" aria-label="anwer2" aria-describedby="basic-addon1">

              </div>
            </div>

            <div class="row">
              <div class="input-group col-md-8">

                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding: 6px 0 6px 12px !important;">Respuesta 3</span>
                </div>

                <input type="text" class="form-control" placeholder="Escribe la respuesta 3 del quiz" aria-label="answer3" aria-describedby="basic-addon1">

              </div>
            </div>

            <div class="row">
              <div class="input-group col-md-8">

                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding: 6px 0 6px 12px !important;">Respuesta 4</span>
                </div>

                <input type="text" class="form-control" placeholder="Escribe la respuesta 4 del quiz" aria-label="answer4" aria-describedby="basic-addon1">

              </div>
            </div>

          

            <button class="btn btn-success">
              Crear Quiz
            </button>

          </form>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-10">
      <div class="image-container" >
        <img src="../assets/img/U_Learn_Logo.png"  width="1000" height="320">
      </div>
    </div>
  </div>
</div>
